*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #e2c99f;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background-color: #ffffff;
}
.top-bar img{
    width: 45px;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}
.top-bar img:hover{
    transform: scale(1.08);
}
.top-bar__list li{
    display: inline-block;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 20px;
}
.top-bar__list li:hover{
    transform: scale(1.08);
}
.top-bar a{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #919191;
}
.middle-bar{
    display: flex;
    background-color: #F1502F;
    align-items: center;
    justify-content: space-evenly;
    height: 6vh;
}
.middle-bar a{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #000000;
}
.middle-bar__list li{
    display: inline-block;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 20px;
}
.middle-bar__list li:hover{
    transform: scale(1.08);
}
.container{
    display: flex;
    max-width: 992px;
    min-width: 320px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
h1{
    font-weight: bold;
    font-size: 35px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h2{
    font-weight: bold;
    font-size: 25px;
    margin:40px 20px 20px 0px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
p{
    text-align:left;
    font-size: 15px;
    margin: 20px 0px 30px 0px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.container-4 li{
    font-size: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.container-6__text-1 li{
    font-size: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.bot-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F1502F;
    height: 8vh;
}
.bot-bar img{
    width: 45px;
}
.bot-bar__img-pad{
    padding-left: 1000px;
}
.container-6{
    max-width: 992px;
    min-width: 320px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 73.7vh;
}
.container-6__text{
    font-size: 35px;
    text-align: center;
}
.container-6__form-area{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.container-6__form-area label{
    font-family: "Inter", Arial, Helvetica, sans-serif;;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}